name: Pipes

on:
  pull_request:
    branches:
      - master
    paths:
      - 'bin/**'
      - 'build/**'
      - 'scripts/**'
      - 'src/**'
    types:
      - labeled
      - unlabeled
      - opened
      - synchronize
  push:
    branches:
      - master
    paths:
      - 'bin/**'
      - 'build/**'
      - 'scripts/**'
      - 'src/**'
  workflow_dispatch:

jobs:
  build_and_verify:
    name: Build and Verify
    if: |
      github.event_name == 'push'
        || github.event_name == 'workflow_dispatch'
        || github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Verify builds are correct
        run: |
          make clean
          make generate
          ./scripts/git-has-changes.sh
      - name: Build and verify CLI docker images
        run: |
          ./scripts/build-and-verify-cli-images.sh mobtitude/php-xdebug
